.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#tournamentList td, #matches td, #match-name td, #match-forecasts td, #standings td
{
    border: none;
}

.buttons-zone{
    background-color: #fff;
}




