body{
font-family: "Courier New";
font-size: 12px;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header{
    margin-top: 4px;
}



.login-zone{
    float: right;
    margin: 3px;
}

.login-zone li{
    display: inline-block;
}

#logo-zone, #matchday{
      text-align: center;
      vertical-align: middle;
}

#logoAndName {

  vertical-align: middle;
}

#tournamentList{
    margin: 10px;

}

#left-arrow, .userOptions, .host-team{
    float: right;
}

#right-arrow, .guest-team{
    float: left;
}

#tournamentList td, #matches td, #match-name td, #match-forecasts td, #standings td,
#tournamentList th, #matches th, #match-name th, #match-forecasts th, #standings th {
    vertical-align: middle;
    border: 0px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    text-align: center;


}

td.score{
    width:1%;
    white-space:nowrap;
}

#tournamentList .btn, h4{
    font-weight: bold;
}


#home-img{
    float: left;
    height: 10%;
    width: 40%;
    padding: 0;
    border: 0 !important; /*Removes border*/
    /*background: radial-gradient(#cdcdcd, #727272);*/
    background: transparent;
    border-radius: 15px;

}

.pointers{
 font-size: 9px;
}
